<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lixuecheng.mapper.ArtcleMapper">

	<resultMap type="acticle" id="articleMapper">
		<result property="channelId"  column="channel_id" />
		<result property="categoryId"  column="category_id" />

		<association property="channel" column="channel_id"
javaType="com.lixuecheng.entity.Channel" select="findChannel"></association>
		
		<association property="category" column="category_id"
javaType="com.lixuecheng.entity.Category" select="findCategory"></association>
        
        <association property="user" column="user_id" javaType="com.lixuecheng.entity.User"
        
        
      select="com.lixuecheng.mapper.UserMapper.findUserById" />

	</resultMap>

	<select id="listByUser" resultMap="articleMapper">

		select id,title,channel_id,category_id,created,STATUS

		from cms_article where user_id=#{id}   AND  deleted=0
		
	    ORDER BY id desc   

	</select>
	<!-- 获取频道信息 -->
	<select id="findChannel"  resultType="channel">
	  select   id,name  from   cms_channel   where   id=#{id};
	</select>
	
	<!-- 获取分类信息 -->
	<select id="findCategory"  resultType="category">
	  select   id,name  from   cms_category   where   id=#{id};
	</select>

    <select id="getById" resultMap="articleMapper">
    
      select   *  from   cms_article  where   id=#{id}   and   deleted=0
    
    </select>
    
    <select id="list"  resultMap="articleMapper">
    
      select   id,title,channel_id,category_id,user_id,created,status,hot ,picture   
       
       from    cms_article 
       
       where   status=#{value}  and  deleted=0  order  by  id  desc
      
    
    </select>
    
    <!-- 获取热门文章 -->
    <select id="hotList"  resultMap="articleMapper">
      
      select   id,title,channel_id,category_id,user_id,created,status,hot,picture  
       
      from    cms_article 
       
      where   status=1  and  deleted=0 
         
       AND   hot = 1
       
       order  by  id  desc
    </select>
    
    <!-- 最新文章 -->
    <select id="lastList"  resultMap="articleMapper">
        select   id,title,channel_id,category_id,user_id,created,status,hot  ,picture  
       
      from    cms_article 
       
      where   status=1  and  deleted=0 
         
       AND   hot = 1
       
       order  by  id  desc
        
        LIMIT  #{value}
    
    </select>
    
    <select id="getArticles"  resultMap="articleMapper">
    
     select   id,title,channel_id,category_id,user_id,created,status,hot,picture  
       
      from    cms_article 
       
      where   status=1  and  deleted=0 
         
     AND   channel_id=#{channelId}
      
      
         <if test="catId!=0">
           AND category_id=#{catId}
         </if>
       order  by  id  desc
    
    </select>
    

</mapper>